/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


/* style.scss */

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
	.flex-container {
		flex-direction: column;
		/* Cambia la dirección del flex a columna */
	}

	.flex-container>div {
		margin-left: 0 !important;
		/* Elimina el margen izquierdo en pantallas pequeñas */
	}
}

/* Estilos para SweetAlert2 */
.swal2-confirm {
	margin-right: 10px !important;
	/* Ajusta este valor según sea necesario */
}